{% extends 'base.html.twig' %}

{% block title %}LCB Application{% endblock %}

{% block body %}

<div class="container">
    <h1>List of all articles</h1>
    <div class="">
        <a href="{{ path('article_new') }}" class="btn btn-primary pull-right mb-3">Create new Article</a>
    </div>
    {% if articles|length > 0 %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Content</th>
                <th scope="col">Category</th>
                <th scope="col">Owner</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <th scope="row">{{article.id}}</th>
                    <td>{{article.title}}</td>
                    <td>{{article.content|truncate('100')}}</td>
                    <td>{{ article.category|length > 0 ? article.category : 'Uncategorized' }}</td>
                    <td>{{article.owner}}</td>
                    <td class="article-icons">
                        <a href="{{ path('article_show', {
                            slug: article.slug
                        }) }}">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                        {% if (is_granted('ROLE_USER')) and (app.user.id == article.owner.id) %}
                            <a href="{{ path('article_edit', {
                                id: article.id
                            }) }}">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a href="{{ path('article_delete', {
                                id: article.id
                            }) }}" onclick="return confirm('Are you sure you want to delete?')">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Currently there are no articles!</p>
    {% endif %}
</div>
{% endblock %}