{% extends 'base.html.twig' %}

{% block title %}Register!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                <h1 class="h3 mb-3 font-weight-normal">Registration Form</h1>
                {{ form_start(registrationForm) }}
                    {{ form_widget(registrationForm) }}
                    <button class="btn btn-primary btn-block" type="submit">
                        Register
                    </button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
