{% extends 'base.html.twig' %}

{% block title %}Edit comment{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <h1>Edit comment</h1>
            {{ form_start(commentForm) }}

            {{ form_widget(commentForm) }}
            <button class="btn btn-primary" type="submit">
                Save
            </button>
            {{ form_end(commentForm) }}
        </div>
    </div>
</div>
{% endblock %}

