body {
    padding-top: 100px;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.flash-msg {
    margin-top: -45px;
    text-align: center;
}

.login-btn {
    margin-right: 20px;
}

form input {
    margin-bottom: 20px;
}

.comment-card .card-body {
    padding-bottom: 0;
}

table .article-icons {
    min-width: 100px;
    text-align: right;
}
