{% extends 'base.html.twig' %}

{% block title %}List of all articles{% endblock %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>All categories</h1>
            <div class="">
                <a href="{{ path('article_category_new') }}" class="btn btn-primary pull-right mb-3">Create new Category</a>
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <th scope="row">{{category.id}}</th>
                        <td>{{category.name}}</td>
                        <td align="right">
                            <a href="{{ path('article_category_edit', {
                                id: category.id
                            }) }}">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a href="{{ path('article_category_delete', {
                                id: category.id
                            }) }}
                           " onclick="return confirm('Are you sure you want to delete?')">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

