{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <h1>New Category</h1>
            {{ form_start(categoryForm) }}
                {{ form_widget(categoryForm) }}
                <button type="submit" class="btn btn-primary">Create</button>
            {{ form_end(categoryForm) }}
        </div>
    </div>
</div>
{% endblock %}
