{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}

<div class="container">
    <h1>Edit Article</h1>
    {{ form_start(articleForm) }}
        {{ form_widget(articleForm) }}
        <button type="submit" class="btn btn-primary">Save</button>
    {{ form_end(articleForm) }}

</div>
{% endblock %}
