{% extends 'base.html.twig' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-12">
            <a href="{{ path("homepage") }}" class="btn btn-primary pull-right">Back to Article list</a>
            <h1>{{ article.title }}</h1>
            <p>{{ article.category }}</p>
            <p>Author: {{ article.owner }}</p>
            <div class="content">
                {{ article.content }}
            </div>
            <div class="article-date pull-right mt-3">
                {{ article.updatedAt|date }}
            </div>
        </div>
    </div>
    <hr>
    <div class="row justify-content-md-center">
        <div class="col-6">
            {% for comment in comments %}
                <div class="card mb-3 comment-card">
                    <div class="card-header">
                        {% if (is_granted('ROLE_USER')) and (app.user.id == comment.author.id) %}
                            <a href="{{ path('article_comment_delete', {
                                id: comment.id
                            }) }}" onclick="return confirm('Are you sure you want to delete this comment?')">
                                <i class="fa fa-trash pull-right" aria-hidden="true"></i>
                            </a>
                            <a href="{{ path('article_comment_edit', {
                                id: comment.id
                            }) }}">
                                <i class="fa fa fa-pencil pull-right" aria-hidden="true"></i>
                            </a>
                        {% endif %}
                        <p class="card-title">{{ comment.name }}</p>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ comment.content }}</p>
                        <p class="pull-right small">{{ comment.createdAt|date }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if is_granted('ROLE_USER') %}
        <div class="col-6">
            {{ form_start(commentForm, {'action': path('article_comment_new'), 'method': 'POST'}) }}

            {{ form_widget(commentForm) }}
            <button class="btn btn-primary" type="submit">
                Save
            </button>
            {{ form_end(commentForm) }}
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}



